
.vs/biking423/v15/sqlite3/storage.ide
Assets/Scenes/InApplication.unity
Library/assetDatabase3
Library/CrashedAssetImports.txt
Library/EditorInstance.json
Library/InspectorExpandedItems.asset
Library/metadata/59/591b570417187c84e9d2377a4fc6f5de
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/UnityTempFile-17b3261fd518cae41be46a839e5579b3
Temp/UnityTempFile-285f3abbe636e8544b3da44c09458763
Temp/UnityTempFile-28730de7c27de2a4db30e937333d6b4e
Temp/UnityTempFile-42f2150d93339f44f85bd79481194eac
Temp/UnityTempFile-5aa26ff48b164bd4c9718f2e6e242d6c
Temp/UnityTempFile-6e57cd99518c4404e868a4f69323c5bd
Temp/UnityTempFile-ac6101fd410770e479683fa8db5a0593
Temp/UnityTempFile-b8b85843d37511c418ff8276fb98998b
